@use 'src/styles/common.scss';

.container {
  h3 {
    margin-right: auto !important;
    margin-left: auto !important;
    text-transform: capitalize;
  }
  .id {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  .image {
    img {
      width: 200px;

      &.unknown {
        filter: contrast(0) blur(2px);
        opacity: 0.5;
      }
    }
  }
}
