@import '~nes.css/css/nes';

.container {
  text-align: center;

  .quiz {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .evaluate {
    @extend .nes-btn;
    @extend .is-primary;
  }
}
