.container {
  display: flex;
  flex-direction: column;

  .stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  input {
    margin-top: 10px;
  }
}
