apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mathemon-web.fullname" . }}
  labels:
    {{- include "mathemon-web.labels" . | nindent 4 }}
data:
  spa.conf: |
    server {
      listen 8080;
      root /usr/share/nginx/html;

      include /etc/nginx/mime.types;     # keeps proper Content-Types
      default_type application/octet-stream;

      # If the requested path isn’t an existing file or dir,
      # fall back to index.html
      try_files $uri $uri/ /index.html;
    }