@use 'nes.css/css/nes.css';
@use 'src/styles/common.scss';

.container {
  @extend .nes-container;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .header {
    @extend h2;

    color: #f03030;
    text-decoration: underline;
  }

  .entry {
    margin: 5px;
  }

  .practice {
    margin-top: 20px;
    @extend .primary-button;
  }
}
