apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "mathemon-server.fullname" . }}
  labels:
    {{- include "mathemon-server.labels" . | nindent 4 }}
data:
  production.json: |
    {{ .Values.config | nindent 4 }}