@import "~nes.css/css/nes";

.quizItem {
  @extend .nes-container;
  display: flex;
  flex-direction: column;
  margin: 5px;

  &.right {
    background-color: #a4ffa4;
  }

  &.wrong {
    background-color: #ff9090;
  }

  .operation {
    display: flex;
    flex-direction: row;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
    }
  }

  hr {
    border-bottom-width: 4px;
    border-color: black;
    width: 100%;
  }

  input {
    @extend .nes-input;
    width: 100%;
  }
}